{
  "extends": ["eslint:recommended", "prettier"],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  },
  "env": {
    "amd": true,
    "browser": true,
    "es6": true,
    "jquery": false,
    "node": false
  }
}
